.regionslist {
	padding: 1px;
	border: slategray solid 1px;
	border-radius: 8px;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	background-color: #DCEBEC;
	box-shadow: 0 0 5px grey;
	min-height: 35px;
	max-width: 304px;
	/* display: flex;
	flex-basis: 50vw;
	flex-direction: row;
	justify-content: left;
	align-items: flex-start; */
}
.cellbutton {
	padding: 0;
	border-radius: 100%;
	border: slategray solid 3px;
	background-color: #DEEEFF;
	color: #4b4b4b;
	font-weight: bolder;
	height: 30px;
	width: 30px;
	text-align: center;
	font-family: Inconsolata;
}
