.regionslist {
	padding-left: 5px;
	padding: 2px 2px 2px;
	padding-top: 2px;
	border: slategray solid 1px;
	border-radius: 8px;
	width: 85vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	/* margin-bottom: 5px; */
	background-color: #DCEBEC;
	box-shadow: 0 0 5px grey;
	min-height: 35px;
	max-width: 315px;
	/* scrollbar-color: #4b4b4b; */
	/* display: flex;
	flex-basis: 50vw;
	flex-direction: row;
	justify-content: left;
	align-items: flex-start; */
}
.cellbutton {
	padding: 1px;
	border-radius: 100%;
	border: slategray solid 3px;
	background-color: #DEEEFF;
	color: #4b4b4b;
	font-weight: bolder;
	font-size: 1rem;
	height: 30px;
	width: 30px;
	text-align: center;
	font-family: Inconsolata;
}

button:focus {
	outline: 0;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	pointer-events: none;
	touch-action: none;
	visibility: hidden;
	width: fit-content;
	background-color: #0d4387;
	color: #DEEEFF;
	text-align: center;
	padding: 5px 5px;
	border-radius: 8px;
	position: absolute;
	top:100%;
	left: 100%;
	margin-left: -40px;
	z-index: 1;
	opacity: 0;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	transition: opacity .15s  ease-in;
	opacity: 100;
}
