@import url('https://fonts.googleapis.com/css?family=Work+Sans:200, 300, 400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* padding: .5rem; */
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background-color: #0d4387;
}

h1 {
  font-family: "Open Sans";
  letter-spacing: 10px;
  font-weight: 400;
  font-size: 3rem;
  color: white;
  justify-content: center;
  text-shadow:1px 1px 8px #fff, 1px 1px 3px rgb(255, 255, 255);
}
