

h2 {
  margin-top: 1em;
  color: #f2f2f2;
  text-align: center;
  font-size: 1em;
  font-family: "Open Sans";
}

a {
  /* text-decoration: underline; */
  color: #f2f2f2;
  font-size: larger;
}

h5 {
  text-align: center;
  color: #f2f2f2;
}

body {
  background-color: white;
}

/* .image {
  display: flex;
  margin-top: 5px;
  align-self: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  height: 300px;
  width: 300px;
  background-color: #DEEEFF;
} */

.info {
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.scaleBox {
  position: absolute;
  /* display: block; */
  width: 56px;
  height: 56px;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: dashed 3px rgba(255, 0, 0, 0.596);
  z-index: 1;
  pointer-events: none;
  color: white;
  touch-action: none;
}

.debug {
  position: absolute;
  left: 0px;
  top: 0px;
  color: lightgreen;
  z-index: 99;
  pointer-events: none;
  touch-action: none;
}

.finish {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.fileinputs {
  position: relative;
  text-align: center;
  padding: 0px;

}

div.fakefile {
  position: absolute;

  top: 50%;
  left: 50%;
  /* transform: translateX(50%); */
  z-index: 1;
}

input.file {
  width: 70vw;
  /* height: 50vh; */
  /* top: 50%;
  left: 50%; */
  /* transform: translateY(-50%) translateX(-50%); */
  position: relative;
  text-align: center;
  --moz-opacity: 0;
  opacity: 100;
  z-index: 2;

}

.menu {
  display: flex;
  text-decoration: none;
  align-self: center;
	padding: 10px;
	border-radius: 0;
	color: #0d4387;
  background-color: #ffffff;
  border: 1px solid #82b9ff;
	margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: larger;
  font-weight: 500;
  max-width: 500px;
}


.canvas {
  position: absolute;
  left: 0;
  top: 0;
  /* height: 60vh;
  width: 80vw; */
}

.tooltip .errortext {
	visibility: hidden;
	width: fit-content;
	background-color: #4b4b4b;
	color: #DEEEFF;
	text-align: center;
  padding: 5px 5px;
	border-radius: 8px;
	position: absolute;
	top:-200%;
	left: 50%;
  margin-left: -100%;
	z-index: 1;
}

.tooltip:hover .errortext {
  visibility: visible;
  border: 1px solid red;
}

.upload {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
	position: relative;
  margin-top: 1rem;
  margin-bottom: 3em;
  border: 1px solid slategray;
  border-radius: 2px;
  padding-top: 8px;
  background-color: #DEEEFF;
  width: 95vw;
}

#container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* flex-grow: 0; */
  /* flex-direction: row; */
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  width: 85vw;
  background-color: #333;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 5px grey;
  border: 1px solid slategray;
  border-radius: 2px;
}