
body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  text-align: center;
}
ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  padding: 1em;
}
a {
  text-decoration-style: none;
  display: flex;
  justify-content: center;
  /* margin-bottom: 2rem; */
}

a.demo {
  margin-bottom: 4em;
}
.intro {
  /* line-height: 1.5rem; */
  padding: .5em;
  font-size: .9em;
  text-align: center;
  color: #f2f2f2;
}

.splash {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  max-width: 500px;
  margin-bottom: 1em;
  /* margin-top: 2rem; */
  /* box-shadow: 0 0 5px grey; */
}