

.experiment {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  /* align-items: center; */
  /* justify-content: space-between; */
	position: relative;
  /* margin-top: 1rem; */
  margin-bottom: 1em;
  border: 1px solid slategray;
  border-radius: 1px;
  /* padding-top: 8px; */
  /* padding-bottom: 1em; */
  background-color: #DEEEFF;
  width: 318px;
  font-size: .8em;
  font-family: "AvenirNextLTPro-Regular";
}

.experiment .regionslist {
  padding-left: 10px;
  margin: 0;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  /* align-self: flex-end; */
  width: 20%;
  /* z-index: 1; */
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 170px;
  /* scrollbar-width: thin; */

}



.force-overflow {
    min-height: 450px;
}

.experiment .cellbutton {
  /* margin-left: auto;
  margin-right: auto; */
  width: 25px;
  height: 25px;
}

.experiment .cellbutton .tooltiptext {
  font-size: .8em;
  z-index: 2;
}

.review {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* min-width: 400px; */
  /* flex-shrink: 0; */
}

/* .scrollbar {
    background-color: #F5F5F5;
} */

/* .force-overflow {
    min-height: 450px;
} */

.expimage {
  max-width: 250px;
  max-height: 170px;
  border: 1px solid #333;
}

.createxp button.menu{
  padding: none;
  /* width: fit-content; */
}

form.createxp {
  margin-top: 0;
  /* width: fit-content; */
  justify-content: flex-start;
  min-width: 433px;
}


.expinfo {
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(0, 45, 104, 0.575);
  text-shadow: 0 0 6px rgba(170, 209, 241, 0.705);
  height: 100%;
  width: 252px;
  left: 0;
  text-align: left;
  color: #ffffff;
  opacity: 1;
  font-family: Inconsolata;
  /* padding: .2em; */
  justify-content: left;
  /* align-items: left; */
}

.expinfo:hover {
  transition: all .2s ease-in-out;
  background-color: rgba(0, 45, 104, 0);
  color: rgb(16, 102, 151);
  font-weight: bold;
}


.experiment .scrollbar::-webkit-scrollbar {
  /* height: 170px; */
  padding: none;
overflow-y: scroll;
  height: 400px;
    width: 10px;
    /* background-color: #333; */
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgb(16, 102, 151)
}

.experiment .scrollbar::-webkit-scrollbar-thumb {
  background : rgb(135, 194, 247);
  border-radius: 10px;
  box-shadow:  0 0 6px rgba(0, 0, 0, 0.5);}
