h1 {
  /* margin-left: 2em; */
  color: white;
  text-align: center;
  margin: 0;
}
.nav {
  /* height: 50px; */
  /* display: flex; */
  /* justify-content: space-evenly; */
  background-color: #0d4387;
  /* width: 100%; */
  font-weight: 400;
  color: white;
  /* text-align: center; */
}

.authmenu {
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 1em;
  /* padding: 1em, 1em; */
}

.top {
  right: 5px;
  top: 1em;
}

.bottom {
  right: 5px;
  top: 2.5em;
}

.container {
  position: relative;
}